<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ article.title }}-kasakun</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" 
		integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/solar/bootstrap.min.css" 
    	rel="stylesheet" integrity="sha384-5R1YdaymXlWnSzNCZhBMJnL6ZRBonq3cnj8A38eihLMaAb66oNJhErrQy9jIGHkl" crossorigin="anonymous">
		<link href="https://bootswatch.com/_assets/css/custom.min.css" rel="stylesheet">
		<link href="http://static.czy-kasakun.com/kasakun/index/highlight.css" rel="stylesheet">
		<link href="http://static.czy-kasakun.com/kasakun/index/markdown.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
			<div class="container">
				<a href="/home/blog?page={{ backPage }}" class="navbar-brand"><i class="fas fa-chevron-left"></i></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
		<div class="container">
			<div class="page-header" id="banner">
				<div class="row">
					<div class="col-lg-8 col-md-7 col-sm-6">
					<h1>{{ article.title }}</h1>
					<p class="lead">Category: {{ article.category }} | {{ article.pubDate }} PDT | {{ article.number }} views</p>
					</div>
				</div>
			</div>
			{% for badge, tag in tags.items %}<span class="badge badge-{{ badge }}">&nbsp;{{ tag }}&nbsp;</span>&nbsp;&nbsp;{% endfor %}
			<hr />
			<div class="markdown-body">
				{{ article.content | safe }}
			</div>
			<footer id="footer">
				<div class="row">
					<div class="col-lg-12">
					<ul class="list-unstyled">
						<li><a class="icon" href="https://www.instagram.com/czykasakun/"><i class="fab fa-instagram"></i></a></li>
						<li><a class="icon" href="https://blog.czy-kasakun.com"><i class="fas fa-rss"></i></a></li>
						<li><a class="icon" href="https://github.com/kasakun"><i class="fab fa-github"></i></a></li>
						<li><a class="icon" href="mailto:chenzy@gatech.edu"><i class="far fa-envelope"></i></a></li>
					</ul>
					<p>&copy; Zeyu Chen</a>.</p>
					</div>
				</div>
			</footer>
		</div>

		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>