<!DOCTYPE HTML>
<html>
	<head>
		<title>Editor-kasakun</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="http://static.czy-kasakun.com/kasakun/editormd/css/editormd.min.css">
		<link href="https://bootswatch.com/_assets/css/custom.min.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/home">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
		<div class="container">
			<div class="page-header" id="banner">
				<div class="row">
					<div class="col-lg-8 col-md-7 col-sm-6">
					<h1>Editor</h1>
					</div>
				</div>
			</div>
			<hr />
			<form>
				<div class="form-row">
					<div class="form-group col-md-3">
						<input type="text" class="form-control" name="title" id="title" value="" placeholder="Title">
					</div>
					<div class="form-group col-md-2">
						<select class="custom-select mr-sm-2" name="category" id="category">
							<option selected>- Category -</option>
							<option value="article">Article</option>
							<option value="comment">Comment</option>
							<option value="review">Review</option>
						</select>
					</div>
					<div class="form-group col-md-7">
						<input type="text" class="form-control" name="tag" id="tag" value="" placeholder="Tag">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<input type="text" class="form-control" name="introduction" id="introduction" value="" placeholder="Introduction" />
					</div>
				</div>
			</form>
			
			<div id="editor">
				<textarea style="display:none;"># Hello, Ready to Create?</textarea>
			</div>
			<footer id="footer">
				<div class="row">
					<div class="col-lg-12">
					<ul class="list-unstyled">
						<li class="float-lg-right"><a href="#top">Back to top</a></li>
						<li><a href="http://blog.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
						<li><a href="https://feeds.feedburner.com/bootswatch">RSS</a></li>
						<li><a href="https://twitter.com/bootswatch">Twitter</a></li>
						<li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
						<li><a href="../help/#api">API</a></li>
						<li><a href="../help/#donate">Donate</a></li>
					</ul>
					<p>&copy; Zeyu Chen</a>.</p>
					</div>
				</div>
			</footer>
		</div>
		
		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="http://static.czy-kasakun.com/kasakun/editormd/editormd.min.js"></script>
		<script src="http://static.czy-kasakun.com/kasakun/editormd/languages/en.js"></script>
		<script type="text/javascript">
            var editor;
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}

            $(function() {
                editor = editormd("editor", {
                    width   : "100%",
                    height  : 640,
                    syncScrolling : "single",
                    path    : "http://static.czy-kasakun.com/kasakun/editormd/lib/",
                    theme : "dark",
                    previewTheme : "default",
                    editorTheme : "3024-day",
					saveHTMLToTextarea: 'true',
					watch: false,
					toolbarIcons : function() {
            		return ["undo", "redo", "|", 
							"bold", "hr", "|", 
							"preview", "watch", "||", 
							"fullscreen", "publish"]
        			},
					toolbarIconsClass : {
						publish : "fa-paper-plane"  // 指定一个FontAawsome的图标类
					},
					toolbarHandlers : {
						/**
						* @param {Object}      cm         CodeMirror object
						* @param {Object}      icon       icon
						* @param {Object}      cursor     cursor
						* @param {String}      selection  selected text
						*/
						publish : function(cm, icon, cursor, selection) {
							var postForm=document.createElement("form");
							document.body.appendChild(postForm);
                    		postForm.method = "POST";

							var formTitle=document.createElement("textarea");
							formTitle.setAttribute("name","formTitle");
							formTitle.setAttribute("id","formTitle")
							formTitle.setAttribute("type","hidden");
							formTitle.value=document.getElementById("title").value;
							postForm.appendChild(formTitle);

							var formCategory=document.createElement("textarea");
							formCategory.setAttribute("name","formCategory");
							formCategory.setAttribute("id","formCategory")
							formCategory.setAttribute("type","hidden");
							formCategory.value=document.getElementById("category").value;
							postForm.appendChild(formCategory);

							var formTag=document.createElement("textarea");
							formTag.setAttribute("name","formTag");
							formTag.setAttribute("id","formTag")
							formTag.setAttribute("type","hidden");
							formTag.value=document.getElementById("tag").value;
							postForm.appendChild(formTag);

							var formIntroduction=document.createElement("textarea");
							formIntroduction.setAttribute("name","formIntroduction");
							formIntroduction.setAttribute("id","formIntroduction")
							formIntroduction.setAttribute("type","formIntroduction");
							formIntroduction.value=document.getElementById("introduction").value;
							postForm.appendChild(formIntroduction);

							var formContent=document.createElement("textarea");
							formContent.setAttribute("name","formContent");
							formContent.setAttribute("id","formContent")
							formContent.setAttribute("type","hidden");
							formContent.value=editor.getMarkdown();
							postForm.appendChild(formContent);
							
							var csrf = document.createElement("input");
							csrf.setAttribute("type", "hidden");
							csrf.setAttribute("name", "csrfmiddlewaretoken");
							csrf.setAttribute("value", getCookie('csrftoken'));

							postForm.append(csrf);
							postForm.action = "/publish/";
							postForm.submit();
							document.body.removeChild(ExportForm);
						},
					},
                });
            });
        </script>
	</body>
</html>